.projects {
  a {
    margin: 1%;
  }
  text-align: center;
  &Titles {
    margin-bottom: 3%;
  }
  &Container {
    background-color: #282c34;
    padding: 3%;
  }
  &Contents {
    &Items {
      display: flex;
      align-content: center;
      align-items: center;
      text-align: center;
      margin-bottom: 3%;
      img {
        width: 100%;
        object-fit: contain;
        max-height: 500px;
        @media (max-width: 700px) {
          max-height: 200px;
        }
      }
    }
  }
}
