.footer {
  padding: 1%;
  background-color: #2a303b;

  @media (max-width: 480px) {
    flex-direction: column;
  }

  &Titles {
    flex: 70%;

    @media (max-width: 1112px) {
      flex: 60%;
    }

    @media (max-width: 900px) {
      flex: 40%;
    }

    @media (max-width: 600px) {
      flex: 30%;
      text-align: center;
    }

    h6 {
      opacity: 0.7;
      margin-top: 4%;

      @media (max-width: 900px) {
        margin-top: 8%;
      }

      @media (max-width: 600px) {
        margin-top: 10%;
      }
    }
  }

  &Icons {
    align-content: center;
    align-items: center;
    text-align: center;

    svg {
      margin-right: 5%;
      text-align: center;
    }

    a {
      color: #61dafb;
    }

    a:hover {
      color: white;
    }

    p {
      text-align: center;
      color: #61dafb;
      font-weight: 900;
      opacity: 0.7;
    }
  }
}
