.project {
  background-color: #2e3442;
  h1 {
    margin-top: 2%;
    margin-left: 5%;
  }
  &Wrapper {
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 480px) {
      display: inline;
    }
  }
  &Row {
    margin: 3% 0;
  }
  &Buttons {
    margin: 0 3%;
    @media (max-width: 480px) {
      margin: 0;
    }
  }
}
