.intro {
  padding-top: 2%;
  width: 50%;

  p {
    text-align: left;
  }

  h2 {
    color: white;
    opacity: 0.7;
  }

  h1 {
    font-size: 4rem;
  }

  &Row {
    display: flex;
  }

  &Container {
    background-color: #282c34;
  }

  &Texts {
    flex: 70%;

    p {
      font-size: 1.5rem;
    }
  }

  &Imgs {
    img {
      width: 15rem;
      border-radius: 50%;
    }
  }

  @media (max-width: 600px) {
    width: 100%;

    h1 {
      font-size: 1.5rem;
    }

    h2 {
      font-size: 1rem;
    }

    p {
      font-size: 0.7rem;
    }
  }

  .btnSecondary {
    background-color: #46a4be;
    color: white;
    margin-bottom: 5%;

    &:hover {
      background-color: white;
      color: black;
    }

    @media (max-width: 400px) {
      font-size: 12px;
    }
  }
}
