.header {
  background-color: #2a303b;
  padding: 1%;

  a {
    border: none;
    color: #61dafb;
    background-color: transparent;
    &:hover {
      background-color: white;
      color: black;
    }
  }

  .resume {
    border-style: solid;
    border-color: #6c757d;
    border-width: 1px;
  }

  &Row {
    margin-top: 1%;
    align-items: center;

    @media (max-width: 800px) {
      display: flex;
    }

    @media (max-width: 700px) {
      display: inline;
    }
  }

  &Name {
    flex: 30%;

    @media (max-width: 480px) {
      flex: 35%;
    }

    @media (max-width: 1112px) {
      flex: 5%;
    }
  }

  h1 {
    color: #61dafb;
    margin-left: 1%;
    letter-spacing: -8px;
  }

  .btnSecondary {
    margin-right: 3%;
    border-style: none;
  }

  @media (max-width: 480px) {
    padding: 3%;

    .btn {
      font-size: 60%;
    }
  }
}
