@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  background-color: #383d49 !important;
  color: white !important;
}

* {
  font-family: "Roboto Mono", monospace;
}

* h1 {
  color: #61dafb !important;
}

.row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

a:hover {
  text-decoration: none !important;
}

.container {
  max-width: 1120px;
}

a {
  text-decoration: none !important;
}

.button {
  color: #61dafb !important;
  background-color: transparent !important;
}

.borderless {
  border: none;
}

.button:hover {
  color: black !important;
  background-color: #fff !important;
}
